
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
img{
    width: 100%;
}
.bg-black{
    background-color:black;
}
@font-face {
    font-family: 'unfinished_screamregular';
    src: url('unfinishedscreamregular-webfont.woff2') format('woff2'),
         url('unfinishedscreamregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.wrapper{
    background-image:url("../images/home-background.jpg");
    background-image: cover;
background-position:center ;
width:100%;


    background-repeat:no-repeat;
    background-size:100%;
  
    background-attachment:scroll;
   
    float:left;
    height: 1800px;

   
}
.wrapper-2{
    background-image: linear-gradient(90deg,
    #3B3B3B 0%,
    #3B3B3B 20%,
    #7F7A7A 20%,
    #7F7A7A 40%,
    #3B3B3B 40%,
    #3B3B3B 60%,
    #7F7A7A 60%,
    #7F7A7A 80%,
    #3B3B3B 80%,
    #3B3B3B 100%);
}

nav ul{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom:0;
    grid-gap:1px;
    

}
nav ul li{
    list-style:none;
    margin-left:0;
    text-align: center;
}
nav a{
    text-decoration:none;
    color:black;
    display:block;
    
 
    text-transform: uppercase;
    font-family: "alternate-gothic-atf", medium, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    text-align: left;
    
}

nav a:hover{
    text-decoration:none;
    color:red;
    display:block;
    
 
    text-transform: uppercase;
    font-family: "alternate-gothic-atf", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    
}

#kate-logo{
    padding-top:100px;
    float:right;
}

h1{
    font-family: 'unfinished_screamregular';
    src: url('unfinishedscreamregular-webfont.woff2') format('woff2'),
         url('unfinishedscreamregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size:60pt;
    text-transform: uppercase;  
    line-height: 60pt;
}
h2{
    font-family: "Alternate Gothic ATF",sans-serif;
    font-size:2rem;
    padding-top:10px;
}
p{
    font-family: "futura-pt", sans-serif;
    font-size:1.5rem;
}
span{
    font-weight: bold;
}
#avon-img{
    background-color: black;
    margin-top:40px;
    padding-top:40px;
}
#avon-img img{
    margin-bottom: 5px;
}
#avon-img p{
    color:white;
    font-family: "futura-pt",sans-serif,light;
    font-size:25pt;
    line-height: 25pt;
    margin-top:10px;
    margin-bottom: 20px;
}
#arts-crafts h1{
    color:white;
}
#footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top:10px;
    
}
#color-icon{
   background-color: #D5461D;
}
#profile{
    position:absolute;
}
footer p{
    font-family: "Alternate Gothic ATF",sans-serif;
    font-weight: 100;
    font-size:20px;
    line-height:23px;
    text-align: right;

}
footer {
    
    border-bottom:10px solid #D5461D;
}
@media (max-width:375px){
    footer img{
        scale:1.5;
     
}
p{font-size:1.5rem;}
}
@media (min-width:375px) {

    h1{
        font-size:50pt;
        line-height: 50pt;
        padding-top:10px;
    }
    p{font-size:1.5rem;}
    #avon-img p{
        font-size:1.75rem;
    }
 
    }
    

@media (min-width:576px) {

    #avon h1{
        font-size:50pt;
        line-height: 50pt;
        padding-top:125px;;
    }
 
    footer p{
        font-size:25pt;
        line-height:30pt;
    }
    p{font-size:1.25rem;}
}
@media (min-width:992px) {

   #avon h1{
        font-size:60pt;
        line-height: 60pt;
        padding-top:140px;
    }
    h2{
        font-size:25pt;
    }
    p{
        font-size:1.5rem;
        
    }
    #avon-img p{
        font-size: 2rem;
        line-height: 35pt;
    }
    footer p{
        font-size:1.5rem;
        line-height:40pt;
    }
    
    #color-icon{
        padding-top:20px;
        padding-bottom:20px;
    }
    footer p{
        font-size:1.5rem;
    }
}